{% if page.connect %}
  <div class="connect">
    <h3>Connect with me</h3>
    <ul>
      {% if page.connect.twitter %}
        <li><a href="{{ page.connect.twitter }}"><img src="https://img.shields.io/badge/Twitter-%231DA1F2.svg?style=for-the-badge&logo=Twitter&logoColor=white"></a></li>
      {% endif %}
      {% if page.connect.medium %}
        <li><a href="{{ page.connect.medium }}"><img src="https://img.shields.io/badge/Medium-%2312100E.svg?style=for-the-badge&logo=Medium&logoColor=white"></a></li>
      {% endif %}
      {% if page.connect.linkedin %}
        <li><a href="{{ page.connect.linkedin }}"><img src="https://img.shields.io/badge/LinkedIn-%230077B5.svg?style=for-the-badge&logo=LinkedIn&logoColor=white"></a></li>
      {% endif %}
      {% if page.connect.hackthebox %}
        <li><a href="{{ page.connect.hackthebox }}"><img src="https://img.shields.io/badge/HackTheBox-9B00FF.svg?style=for-the-badge&logo=HackTheBox&logoColor=white"></a></li>
      {% endif %}
      {% if page.connect.tryhackme %}
        <li><a href="{{ page.connect.tryhackme }}"><img src="https://img.shields.io/badge/TryHackMe-212121.svg?style=for-the-badge&logo=TryHackMe&logoColor=white"></a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
