<div class="connect-with-me">
  <a href="https://twitter.com/your_username">
    <img src="https://img.shields.io/badge/Twitter-%231DA1F2.svg?style=for-the-badge&logo=Twitter&logoColor=white" alt="Twitter logo">
  </a>
  <a href="https://medium.com/@your_username">
    <img src="https://img.shields.io/badge/Medium-%2312100E.svg?style=for-the-badge&logo=Medium&logoColor=white" alt="Medium logo">
  </a>
  <a href="https://www.linkedin.com/in/your_username">
    <img src="https://img.shields.io/badge/LinkedIn-%230077B5.svg?style=for-the-badge&logo=LinkedIn&logoColor=white" alt="LinkedIn logo">
  </a>
  <a href="https://www.hackthebox.eu/profile/your_username">
    <img src="https://img.shields.io/badge/HackTheBox-9B00FF.svg?style=for-the-badge&logo=HackTheBox&logoColor=white" alt="HackTheBox logo">
  </a>
  <a href="https://tryhackme.com/p/your_username">
    <img src="https://img.shields.io/badge/TryHackMe-212121.svg?style=for-the-badge&logo=TryHackMe&logoColor=white" alt="TryHackMe logo">
  </a>
</div>
